@using SignLingo.Data
@using Microsoft.EntityFrameworkCore
@using Markdig
@using Microsoft.AspNetCore.Identity
@inject ApplicationDbContext DbContext 
@inject UserManager<IdentityUser> UserManager 

@{
    var currentUser = await UserManager.GetUserAsync(User);

    if (currentUser is null)
    {
        <div>
            User doesn't exist!
        </div>
        return;
    }

    // currentUser is never null
    var userMetadata = await DbContext.UserMetadatas.FirstOrDefaultAsync(x => x.User.Id == currentUser!.Id);
    var lessons = await DbContext.Lessons.Include(x => x.ActivitySequence).ToListAsync();
}

<div class="container-fluid row">
    @foreach (var i in lessons)
    {
        var isLessonFinished = userMetadata!.FinishedLessons.Any(x => x.Id == i.Id);
        
        <div class="col-6 col-md-3">
            <div class="card border-0">
                <img src="@i.LessonImage"
                     class="card-img-top rounded-3 shadow" style="height: 300px; object-fit: cover">
                <div class="card-body d-flex flex-column">
                    <p class="card-title d-flex flex-row">
                        <span class="fw-bold d-inline text-light me-2 h5 @(isLessonFinished ? "text-decoration-line-through" : string.Empty)">@i.LessonTitle</span>
                        <span class="rounded-3 d-inline bg-dark-subtle shadow px-2 align-middle">Lesson @(lessons.IndexOf(i) + 1)</span>
                    </p>
                    <div class="card-text">
                        @Html.Raw(Markdown.ToHtml(i.LessonDescription))
                    </div>
                    @* <p class="card-text" id="lesson-preview-@i.Id"> *@
                    @*      *@
                    @* </p> *@
                    @* <script> *@
                    @*     let lessonPrev = document.getElementById("lesson-preview-@i.Id"); *@
                    @*     lessonPrev.innerHTML = marked.parse(`@i.LessonDescription`); *@
                    @* </script> *@
                    <a href="/lessons/@i.Id" class="btn btn-@(isLessonFinished ? "danger" : "success") border-0 text-dark shadow fw-bold"><i class="fa-solid fa-play me-2"></i> @(isLessonFinished ? "Review" : "Start")</a>
                </div>
            </div>
        </div>
    }
</div>